<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Morse para ASCII</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Arquivo do CSS desabilitado por hora. O teste do CSS fica 
    mais rápido com as definições aqui no próprio HTML.

    Após finalizado será enviado de volta para o arquivo main.css -->
  </head>
  <body>
 
    <div class="header">
      <h1 class="title">Cadastro no HubSpot</h1>
    </div>
    
    <div class="content">
      
      <div class="instructions-and-form">
        <h2>Preencha o formulário abaixo</h2>
        <p>Todos os campos são obrigatórios</p>
          
        <form class="formulario" action="/send_form" method="POST">
          <div>
            <input type="text" id="nome" name="nome" required placeholder="Primeiro Nome">
            <input type="text" id="sobrenome" name="sobrenome" required placeholder="Sobrenome">
          </div>
          <br/>
          <div>
            <input type="email" id="email" name="email" required placeholder="seu.email@aqui.com">
            <input type="tel" id="fone" name="fone" required placeholder="(00) 0 0000-0000">
          </div>
          <br/>
          <div>
            <input type="date" id="data_nasc" name="data_nasc" required>
            <input type="number" id="peso" name="peso" required>
          </div>
          <br/>
          <div class="buttons">
            <button class="form_buttons" type="submit">Enviar</button>
            <button class="form_buttons" type="reset">Limpar</button>
          </div>
        </form>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>